__pycache__/
*.py[cod]
*.egg-info/
.venv/
.pytest_cache/
.ruff_cache/
.mypy_cache/
build/
dist/
.coverage
htmlcov/
.DS_Store
!conda.recipe/
!conda.recipe/meta.yaml
!CONTRIBUTING.md
!makefile
!Makefile
!tools/
!tools/*.py
